:root {
    --vermelho: #D6000D;
    --cinza: rgb(186, 186, 186);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.container {
    width: 90%;
}

#logo {
    font-size: 3.5rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.red {
    color: var(--vermelho);
}

#ponto {
    color: black;
}

p {
    font-size: 2rem;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 3%;
}

nav ul li {
    display: inline;
    list-style: none;
    padding: 10px 0;
    margin: 10px 15px;
}

nav ul li a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
}

#orcamento {
    font-size: 2rem;
    margin-top: 2%;
}

div.topo {
    align-items: flex-start;
    display: flex;
    margin-bottom: 60px;
}

div.texto {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-self: center;
}

div.texto p {
    font-weight: bold;
    font-size: 1.7rem;
    padding: 20px;
}

div.texto h1 {
    color: var(--vermelho);
    font-size: 2.7em;
}

a.btn-primary {
    background-color: var(--vermelho);
    border-radius: 10px;
    color: white;
    padding: 1rem;
    text-decoration: none;
}

#video-call {
    max-width: 50%;
    margin: 0;
    display: inline;
}

.services {
    display: flex;
    justify-content: space-between;
}

.services i {
    color: var(--vermelho);
}

.services-list li {
    font-size: 2rem;
    list-style: none;
    padding: 10px 10px 10px;
}

.services-img {
    align-items: center;
    justify-content: center;
}

#coding {
    max-width: 50%;
    width: 50%;
}

.call-to-action {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.call-to-action h2 {
    padding: 20px 0;
}

.call-to-action input {
    font-size: 1.7rem;
    background-color: var(--cinza);
    border: none;
    border-radius: 10px;
    padding: 1.1rem;
    margin-bottom: 7%;
}

.call-to-action a {
    text-decoration: none;
}

.depoimentos {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 40px;
}

.depoimento {
    background-color: var(--cinza);
    border-radius: 8px;
    box-sizing: border-box;
    flex-flow: column wrap;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.dot {
    background-color: var(--vermelho);
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    height: 55px;
    width: 55px;
}

.author {
    margin-left: 70px;
    margin-top: 6%;
}

.author p {
    font-size: 1.7rem;
    font-weight: bold;
}

p.company {
    font-size: 1.2rem;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
}

.logo-footer {
    padding: 20px;
}

.white {
    color: white;
}

.sobre {
    margin-top: 25px;
    width: 25%;
}

.contato {
    margin-top: 25px;
}

.socials {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.socials i {
    color: var(--vermelho);
    font-size: 2.5rem;
    margin: 10px 15px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: space-around;
}

footer h3 {
    font-size: 3rem;
}

footer p {
    margin-top: 33px;
    font-size: 2rem;
}

.logo-footer p {
    margin-top: 0;
}

@media screen and (max-width: 425px) {

    .container {
        width: 90%;
    }

    #logo {
        display: block;
        text-align: center;
    }

    nav {
        display: block;
        position: relative;
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
        position: relative;
    }

    nav ul li:nth-child(4) {
        display: none;
    }

    #alavanque {
        text-align: center;
    }

    div.topo {
        display: block;
    }

    img#video-call {
        margin-top: 20px;
        max-width: 100%;
    }

    #orcamento {
        margin-top: 20px;
        text-align: center;
    }

    #incrivel {
        font-size: 2.0em;
    }

    .services {
        align-items: flex-start;
        flex-flow: column-reverse wrap;
    }

    #coding {
        width: 100%;
    }

    .services ul {
        width: 100%;
    }

    .services-list li {
        font-size: 2.5rem;
        margin-top: 5%;
        padding: 10px 0;
    }

    .phone-register {
        display: flex;
        flex-direction: column;
    }

    .depoimentos {
        flex-flow: column wrap;
    }

    .depoimento {
        display: flex;
        width: 100%;
        margin: 3% auto;
        padding: 10px;
    }

   .dep-texto p {
       font-size: 2rem;
   }

    .depoimento p#depo-1 {
        text-align-last: center;
    }

    footer {
        flex-flow: column wrap;
        align-items: center;
    }

    .sobre {
        width: 80%;
        text-align: center;
    }

    .contato {
        width: 80%;
        text-align: center;
    }

    .socials {
        width: 80%;
        text-align: center;
    }
}