:root{
    --vermelho: #D6000D;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    width: 80%
}

.container{
    max-width: 90%;
}

#logo{
    color: var(--vermelho);
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;    
}

#ponto {
    color: black;
}

div.topo{
    display: flex;
    align-items: center;
}

div.topo p{
    flex-flow: column nowrap;
}

div.topo h1 {
    display:block;
}

#video-call{
    max-width: 50%;
}

.services i{
    color: var(--vermelho);
}

.services li{ 
    list-style: none;    
}

#coding{
    max-width: 50%;
}
