:root{
    --vermelho: #D6000D;
    --cinza: rgb(186, 186, 186);
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding: 0;
}

.container{
    width: 90%;
}

#logo{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;    
}

.red{
    color: var(--vermelho);
}

#ponto {
    color: black;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 5px;    
}

nav ul li{
    display: inline;
    list-style: none;
    padding: 10px 0;
    margin: 10px 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

div.topo{
    align-items: flex-start;
    display: flex;
    margin-bottom: 60px;
}

div.texto{
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-self: center;
}

div.texto p {
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

div.texto h1{
    color: var(--vermelho);
    font-size: 2.7em;
}

a.btn-primary{
    background-color: var(--vermelho);
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    text-decoration: none;    
}

#video-call{
    max-width: 50%;
    margin: 0;
    display: inline;
}

.services {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.services ul{
    margin: 0;
    width: 30%;
}

.services i{
    color: var(--vermelho);
}

.services li{ 
    font-size: 24px;
    list-style: none;
    padding: 10px 10px 10px;
}

.services-img{
    width: 70%;
    align-self: flex-end;
}

.services-img img{
    align-self: flex-end;
    max-width: 70%;
    padding: 20px;
    margin-left: 100px
}

.call-to-action{
    margin-top: 40px;
}

.call-to-action h2{
    padding: 20px 0;
}

.call-to-action input{
    background-color: var(--cinza);
    border: none;
    border-radius: 4%;
    padding: 15px;
    margin: 0;
}

.call-to-action a {
    text-decoration: none;
}

.depoimentos{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 40px;
}

.depoimento {
    background-color: var(--cinza);
    border-radius: 8px;
    box-sizing: border-box;
    flex-flow: column wrap;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.dot {
    background-color: var(--vermelho);
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    height: 55px;
    width: 55px;
}

.author{
    margin-left: 70px;
    margin-top: 35px;
}

.author p {
    font-size: 22px;
    font-weight: bold;
}

p.company {
    font-size: 18px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: row wrap;
}

.logo-footer {
    padding: 20px;
    /* width: 25%; */
}

.white {
    color: white;
}

.sobre {
    margin-top: 25px;
    width: 25%;
}

.contato {
    margin-top: 25px;
    width: 25%;
}

.socials{
    margin-top: 25px;
    width: 25%;
}

.socials i {
    color: var(--vermelho);
    font-size: 40px;
    margin: 10px 15px;
}

footer p {
    margin-top: 33px;
}

.logo-footer p{
    margin-top: 0;
}

@media screen and (max-width: 425px){

    .container {
        width: 90%;
    }

    #logo{
        display: block;
        text-align: center;
    }

    nav {
        display: block;
        position: relative;
        text-align: center;
    }

    nav ul {
        display: block;
        text-align: center;
        position: relative;
    }
    
    nav ul li:nth-child(4){
        display: none;
    }

    div.topo{
        display: block;
    }

    img#video-call {
        margin-top: 20px;
        max-width: 100%;
    }

    #orcamento {
        margin-top: 20px;
    }

    #incrivel {
        font-size: 2.0em;
    }

    .services {
        align-items: flex-start;
        flex-flow: column-reverse wrap;
    }

    #coding {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .services ul {
        width: 100%;
    }

    .services ul li {
        padding: 10px 0;
    }

    .call-to-action{
        display: flex;
        flex-flow: column wrap;
    }

    .call-to-action h2 {
        font-size: 22px;
    }

    .call-to-action input {
        align-self: center;
        width: 70%;
        margin-bottom: 20px;
    }

    .call-to-action a {
        text-align: center;
        width: 63%
    }

    .depoimentos {
        flex-flow: column wrap;
    }

    .depoimento {
        display: flex;
        width: 100%;
        margin: 15px auto;
        padding: 10px;
    }

    .depoimento p {
        text-align: left;
    }

    .depoimento p#depo-1{
        text-align-last: center;
    }

    footer {
        flex-flow: column wrap;
    }

    .sobre {
        width: 80%;
        text-align: left
    }

    .contato{
        width: 80%;
        text-align: left;
    }

    .socials {
        width: 80%;
        text-align: left;
    }
}